@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.boundary{
  border: 2px solid #f00;
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* إرجاع الشبكة بشكل واضح وجميل وحجم أكبر */
.bg-grid-pattern {
  background-image: 
    linear-gradient(to right, rgba(128, 128, 128, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 77, 192, 0.15) 1px, transparent 1px);
  background-size: 60px 60px; /* مربعات كبيرة */
}